@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  display: flex;
  flex-direction: column;
  font-family: Poppins, sans-serif;
  font-style: normal;
  margin: 0;
  overflow-x: hidden;
}

.header-nav {
  display: flex;
  height: 60px;
  background-color: #fff;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 50px 36px 15px 24px;
  box-sizing: border-box;
}

#mylogo {
  width: 76px;
  height: 20px;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
  transition: transform 0.4s ease-in-out;
}

#logo:hover {
  transform: scale(1.1);
}

#menu {
  display: block;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #6070ff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#nav {
  display: none;
}

#link {
  display: none;
}

.flex-container {
  padding-bottom: 70px;
  background-repeat: no-repeat;
  border-bottom-left-radius: 80px;
  position: relative;
}

#head-container {
  background-image: url("assets/header-shapes-mobile.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  border-radius: 0 0 0 100px;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 0 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  min-width: 375px;
  max-width: 1200px;
}

.headers {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  padding: 128px 24px 0;
}

.connect {
  font-size: 16px;
  font-weight: 500;
  margin-left: 24px;
  margin-bottom: 12px;
  color: #7f8cff;
  width: 117px;
  height: 24px;
}

.description {
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 12px 24px;
}

.social-media-icons {
  display: flex;
  margin-left: -15px;
  width: 160px;
  list-style-type: none;
  animation: width-change 1s ease-in-out 0.5s 1;
  align-items: center;
  gap: 1.5em;
}

.portfolio {
  gap: 4em;
  padding: 4em 0;
  display: grid;
}

.work_card {
  background-color: var(--CL-neutral-white);
  padding: 16px;
  border-radius: 16px;
  gap: 0.25em;
  display: grid;
  border: 1px solid rgba(223, 225, 230, 1);
}

--CL-primary-blue: rgba(57, 109, 242, 1);
--CL-primary-light: rgba(235, 235, 255, 1);
--CL-primary-dark: rgba(23, 43, 77, 1);
--CL-neutral-white: linear-gradient(0deg, #fff, #fff);
--CL-neutral-white-off: linear-gradient(0deg, #dfe1e6, #dfe1e6);

.color-primary {
  color: rgba(57, 109, 242, 1);
}

.color-secondary {
  color: rgba(57, 109, 242, 1);
}

.color-info {
  color: rgba(52, 69, 99, 1);
}

.work__image {
  width: 100%;
  max-height: 220px;
  object-fit: cover;
  border-radius: 8px;
}

.portfolio__content {
  margin: 0.5em 0;
  display: grid;
}

.portfolio__title {
  font-size: 32px;
  line-height: 44px;
}

.portfolio__profile {
  margin: 0.75em 0;
  display: flex;
  align-items: center;
}

.portfolio__author {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.portfolio__list {
  gap: 2em;
  display: flex;
  flex-wrap: wrap;
  line-height: 0.001;
  align-items: flex-start;
}

.portfolio__description {
  font-size: 15px;
  margin: 0 0 1em 0;
}

.work__item {
  color: rgba(122, 134, 154, 1);
  font-weight: 600;
}

.portfolio__tags {
  gap: 0.75em;
  font-size: 12px;
  list-style-type: none;
  flex-wrap: wrap;
  margin: 1em 0 0 0;
  display: flex;
  align-items: flex-start;
  padding-left: 0;
}

.tag {
  color: rgba(96, 112, 255, 1);
  background-color: rgba(235, 235, 255, 1);
  font-weight: 500;
  padding: 0.25em 1em;
  border-radius: 8px;
}

.button_primary {
  display: inline-block;
  margin: 1.25em 0 0 0;
  padding: 12px;
  border: 1px solid rgba(96, 112, 255, 1);
  border-radius: 8px;
  font-size: 17px;
  color: rgba(96, 112, 255, 1);
  letter-spacing: 0.03em;
  align-items: center;
  text-decoration: none;
}

.button__primary:hover {
  background-color: rgba(96, 112, 255, 1);
  color: linear-gradient(0deg, #fff, #fff);
}

.button__primary:active {
  background-color: rgba(96, 112, 255, 1);
  color: linear-gradient(0deg, #fff, #fff);
}

.button__primary:disabled {
  background-color: rgba(57, 109, 242, 1);
  color: linear-gradient(0deg, #fff, #fff);
}

.section {
  padding: 0 1.5em;
}

.section_white {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0 6em 0 0;
}

.section_white--bottom {
  border-radius: 0 0 0 6em;
}

.social_icons {
  gap: 1.5em;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.about {
  flex-direction: column;
  justify-content: center;
}

.about_title {
  color: rgba(23, 43, 77, 1);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  width: 327px;
  height: 35px;
}

.about_page {
  padding: 4em 0;
  gap: 0.5em;
}

.category-about_page {
  padding: 1em;
}

.about_page_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about_page_subtitle {
  font-size: 20px;
  font-weight: 500;
}

.about_page_list {
  gap: 1em;
  margin: 1em 0 0 0;
  display: grid;
}

.about_page__item {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0.5em;
  background-color: rgba(247, 247, 249, 1);
  border-radius: 8px;
  font-weight: 500;
  font-size: 15px;
}

/* Footer */
.contact-form {
  color: #fff;
  background-color: #6070ff;
  background-image: url(./assets/header-shapes-mobile.png);
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 24px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

form input,
form textarea {
  font-family: "Poppins", sans-serif;
  color: #172b4d;
  min-width: 327px;
  height: 48px;
  border-radius: 8px;
  border: none;
  padding-left: 16px;
}

form textarea {
  height: 170px;
  color: #b3bac5;
}

.button-form {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  margin: 1.25em 0 0 0;
  padding: 12px;
  border: 1px solid rgba(96, 112, 255, 1);
  border-radius: 8px;
  font-size: 17px;
  color: rgba(96, 112, 255, 1);
  letter-spacing: 0.03em;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  margin-top: 22px;
  margin-left: 24px;
}

@media (min-width: 768px) {
  #flexbox-head-container {
    background-image: url("../assets/background.svg");
  }

  .header-nav {
    height: 72px;
  }

  .header__toggle {
    display: none;
  }

  .header__list {
    list-style-type: none;
    gap: 2em;
  }

  .header__nav {
    display: inline-block;
  }
}